.couch {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #AEAEA1;
    position: relative;
    background-image: url('../../images/SvetlanaMainBackground1440.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    overflow: hidden;
    padding-bottom: 135px;
}


@media (min-width: 1500px) {
    .couch {
        background-image: url('../../images/Оффер\ \(4\).png');
     }
}


@media (max-width:1025px) {
    .couch {
        background-image: url('../../images/SvetlanaMainBackground1030.png');
        padding-bottom: 70px;
    }

}

@media (max-width: 768px) {
    .couch {
        background-image: url('../../images/SvetlanaMainBackground768.png');
        padding-bottom: 52px;
    }
}

@media (max-width: 425px) {
    .couch {
        background-image: url('../../images/SvetlanaMainBackground425.png');
        background-position: bottom;
        padding-bottom: 77px;
    }
}