.couch {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 135px;
    background-image: url('../../images/mainPhoto.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

@media (min-width: 1600px) {
    .couch{
        min-height: 760px;
    }
}



 