.prices__list-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 900px) {
    .prices__list-container {
        justify-content: center;
        max-width: 800px;
    }
}