.changes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../images/changes1440.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 776px;
}

@media (max-width: 1024px) {
    .changes{
        background-image: url('../../images/changes1024px.png');
    }
}

@media (max-width: 768px) {
    .changes{
        background-image: url('../../images/changes768.png');
        min-height: 640px;
    }
}