.requests__item {
    width: var(--request-item-width);
    margin-right: 38px;
    background: var(--font-color-variant-2);
    border: 2px solid #D6D6D6;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 44px;
}

@media (max-width:1024px) {
    .requests__item {
        margin-bottom: 40px;
        margin-right: 34px;
    }

}

@media (max-width:866px) {
    .requests__item {
        margin-right: 18px;
    }
}

.requests__item:nth-of-type(3),
.requests__item:last-of-type {
    margin-right: 0;
}

@media (max-width:768px) {

    .requests__item {
        margin-bottom: 33px;
        margin-right: 20px;
    }
}


@media (max-width:511px) {
    .requests__item:nth-of-type(3) {
        margin-right: 20px;
    }



}

@media (max-width:425px) {
    .requests__item {
        margin-bottom: 28px;
    }

    .requests__item:nth-of-type(2),
    .requests__item:nth-of-type(4) {
        margin-right: 0;
    }
}


@media (max-width: 341px) {
    .requests__item {
        margin-right: 0!important;
        min-width: 170px;
    }
}