.services__container {
    width: var(--services-container-width);
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .services__container {
        align-items: center;
    }
}