.reviews__container{
    width: var(--reviews-container-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 113px;
}


@media (max-width: 768px) {
    .reviews__container{
        padding-bottom: 87px;
    }
}

@media (max-width: 360px) {
    .reviews__container{
        padding-bottom: 32px;
    }
}