.reviews__title {
    padding-top: 56px;
    margin-bottom: 57px;
    font-family: var(--font-family-title);
    font-style: normal;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-title-block);
    line-height: 47px;
    color: var(--font-color-variant-);
}

@media (max-width: 1024px) {
    .reviews__title {
        margin-bottom: 65px;
    }
}

@media (max-width: 768px) {
    .reviews__title {
        padding-top: 53px;
        margin-bottom: 48px;
    }
}

@media (max-width: 360px) {
    .reviews__title {
        padding-top: 31px;
        margin-bottom: 30px;
    }
}
 