.requests__title {
    font-family: var(--font-family-title);
    font-style: normal;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-title-block);
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #000000;
    margin-top: 0;
    margin-bottom: 90px;
}