.services__item {
    margin-bottom: 28px;
    position: relative;
}

.services__item:last-of-type {
    margin-bottom: 35px;
}

.services__item::before {
    content: '';
    width: 17px;
    top: 6px;
    height: 17px;
    border-radius: 50%;
    position: absolute;
    background: var(--theme-color-variant-2);
}


@media (max-width:1024px) {
    .services__item {
        margin-bottom: 18px;
    }

    .services__item:last-of-type {
        margin-bottom: 16px;
    }


    .services__item::before {
        width: 13px;
        height: 13px;

    }
}

@media (max-width:768px) {
    .services__item:last-of-type {
        margin-bottom: 49px;
    }

    .services__item::before {
        width: 17px;
        height: 17px;
    }
}

@media (max-width:425px) {
    .services__item {
        margin-bottom: 25px;
    }

    .services__item:last-of-type {
        margin-bottom: 34px;
    }


    .services__item::before {
        width: 15px;
        height: 15px;
    }
}

@media (max-width:376px) {

    .services__item {
        margin-bottom: 14px;
    }
    .services__item:last-of-type {
        margin-bottom: 20px;
    }
}