.couch__button {
    background: var(--theme-color-variant-3);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    width: 359px;
    height: var(--button-heigh-large);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--font-color-variant-7);
}

@media (max-width: 1024px) {
    .couch__button {
        width: 287px;
        height: 51.96px;
    }
}

@media (max-width: 768px) {
    .couch__button {
        width: 241px;
        height: 43.64px;
    }
}

@media (max-width: 425px) {
    .couch__button {
        width: 287px;
        height: 51.96px;
    }
}

@media (max-width: 330px) {
    .couch__button {
        width: 259.67px;
        height: 47.01px;
        font-size: 17px;
        line-height: 23px;
    }
}