.type-service__content {
    width: var(--type-service-content-width);
    background: #FFFFFF;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    position: relative;
    z-index: 1;
    bottom: 57px;
    padding: 7px 10px;
}

@media (max-width: 1024px) {
    .type-service__content {
        padding: 5.2px 7.7px; 
    }
}

@media (max-width: 900px) {
    .type-service__content {
        padding: 6px 10px; 
    }
}

@media (max-width: 425px) {
    .type-service__content {
        padding: 6px 8px; 
    }
}