.requests__content {
    background: var(#F9F9F9);
    border: 1px solid #E2E2E2;
    border-radius: 10px;
    width: 274px;
    height: 126px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6px;
}