.requests__content {
    background: var(#F9F9F9);
    border: 1px solid #E2E2E2;
    border-radius: 10px;
    width: var(--request-content-width);
    height: 126px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6px;
}

@media (max-width:1024px) {
    .requests__content {
        height: 115px;
    }
}



@media (max-width:768px) {
    .requests__content {
        height: 68px;
        width: 149px;
    }
}


@media (max-width:350px) {
    .requests__content {
        width: 134px;
        height: 62.05px;
    }
}