.prices__title {
    font-family: var(--font-family-title);
    font-style: normal;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-title-block);
    line-height: 47px;
    padding-top: 63px;
    color: var(--font-color-variant-3);
    margin-bottom: 121px;
    text-align: center;
}


@media (max-width:1024px) {
    .prices__title {
        padding-top: 82px;
        margin-bottom: 103px;
    }
}


@media (max-width:768px) {
    .prices__title {
        padding-top: 66px;
        margin-bottom: 59px;
    }
}

@media (max-width:425px) {
    .prices__title {
        padding-top: 61px;
        margin-bottom: 50px;
    }
}