.nav-bar {
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 3;
}

@media (max-width: 1024px) {
    .nav-bar {
        flex-direction: column;
        width: 75px;
        margin-bottom: 27px;
    }
}