.list-description_margin-medium {
    margin-bottom: 54px;
}

@media (max-width: 1024px) {
    .list-description_margin-medium {
        margin-bottom: 10px;
    }
}


@media (max-width: 768px) {
    .list-description_margin-medium {
        margin-bottom: 10px;
    }
}

@media (max-width: 425px) {
    .list-description_margin-medium {
        margin-bottom: 30px;
    }
}

@media (max-width: 362px) {
    .list-description_margin-medium {
        margin-bottom: 36px;
    }
}