:root {
    /* ширина */
    --main-width-container: 1440px;
    --couch-section-width: 1022px;
    --header-container-widht: 1022px;
    --couch-info-width: 584px;
    --requests-list-width: 946px;
    --request-content-width: 274px;
    --request-item-width: 290px;
    --services-container-width: 1080px;
    --services-list-container-width: 401px;
    --services-list-content-width: 375px;
    --prices-container-width: 1140px;
    --type-service-content-width: 364px;
    --type-service-container-width: 344px;
    --slider-content-width: 660px;
    --reviews-container-width: 874px;
    --slider-content-height: 332px;
    --changes-container-width: 700px;
    --changes-description-container: 610px;
    --changes-list-1-width: 275px;
    --changes-list-2-width: 276px;
    --footer-container-width: 1030px;

    /* размеры шрфтов  */
    --font-size-main-title: 3.4375rem;
    --font-size-title-block: 2.1875rem;
    --font-size-extra-small-variant-1: 1.375rem;
    --font-size-extra-small-variant-2: 1.4375rem;
    --font-size-small: 1.5rem;
    --font-size-small-plus: 1.5625rem;
    --font-size-medium: 1.75rem;
    --font-size-extra-medium: 1.875rem;
    --font-size-standard: 1rem;

    /*семество шрифтов*/
    --font-family-title: 'Playfair Display';
    --font-family-standart-variant-1: 'Open Sans';
    --font-family-standart-variant-2: 'Roboto';
    --font-family-medium-title: 'Balsamiq Sans';
    --font-family-standart-variant-3: 'Caveat';
    /* жирность шрифта  */
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;

    /*цвета шрифтов*/

    --font-color-variant-1: #221F1F;
    --font-color-variant-2: #FFFFFF;
    --font-color-variant-3: #000000;
    --font-color-variant-4: #323232;
    --font-color-variant-5: #497960;
    --font-color-variant-6: #767676;
    --font-color-variant-7: #FFFEFE;
    --font-color-variant-8: #352217;

    /*цвета фона, кнопок, элементов*/
    --theme-color-variant-1: #FFFFFF;
    --theme-color-variant-2: #9DD3A8;
    --theme-color-variant-3: #4B7B62;
    --theme-color-variant-4: #F9F9F9;
    --theme-color-variant-5: #FBFAFA;

    /* кнопки */
    --button-font-size: 1.25rem;
    --button-heigh-small: 52px;
    --button-heigh-medium: 55px;
    --button-heigh-large: 65px;

}

@media (max-width: 1140px) {
    :root {
        --prices-container-width: 1000px;
        --type-service-content-width: 320px;
        --type-service-container-width: 300px;

    }
}


@media (max-width: 1100px) {
    :root {
        --couch-section-width: 880px;
        --header-container-widht: 900px;
        --services-container-width: 960px;
        --footer-container-width: 1024px;
    }
}


@media (max-width: 1024px) {
    :root {
        --font-size-main-title: 2.8125rem;
        --font-size-small-plus: 1.4375rem;
        --font-size-extra-medium: 1.4375rem;
        --font-size-medium: 1.5626rem;
        --font-size-standard: 0.875rem;
        --button-font-size: 1.125rem;
        --couch-info-width: 483px;
        --couch-section-width: 810px;
        --header-container-widht: 810px;
        --requests-list-width: 868px;
        --request-content-width: 251px;
        --request-item-width: 266px;
        --services-container-width: 822px;
        --services-list-container-width: 325px;
        --services-list-content-width: 304px;

        --prices-container-width: 880px;
        --type-service-content-width: 283.29px;
        --type-service-container-width: 267.73px;
        --footer-container-width: 884px;
        --social-cells-width: 180px;
    }
}

@media (max-width: 885px) {
    :root {
        --footer-container-width: 765px;
    }
}

@media (max-width: 875px) {
    :root {
        --slider-content-width: 550px;
        --reviews-container-width: 764px;
    }
}


@media (max-width: 900px) {
    :root {
        --prices-container-width: 700px;
        --type-service-content-width: 360px;
        --type-service-container-width: 340px;

    }
}

@media (max-width: 850px) {
    :root {
        --couch-section-width: 740px;
        --header-container-widht: 740px;
    }

}

@media (max-width: 866px) {
    :root {
        --request-content-width: 222px;
        --request-item-width: 236px;
        --services-container-width: 730px;

    }
}

@media (max-width: 768px) {
    :root {
        --font-size-main-title: 2.0625rem;
        --font-size-extra-medium: 1.125rem;
        --font-size-medium: 1.4375rem;
        --font-size-small-plus: 1.5625rem;
        --font-size-extra-small-variant-2: 1.25rem;
        --button-font-size: 0.9375rem;
        --couch-section-width: 562px;
        --couch-info-width: 352px;
        --header-container-widht: 562px;
        --font-size-title-block: 2.0625rem;
        --requests-list-width: 514px;
        --request-content-width: 149px;
        --request-item-width: 157px;
        --services-container-width: 500px;
        --services-list-container-width: 407px;
        --services-list-content-width: 381px;
        --prices-container-width: 700px;
        --type-service-content-width: 364.65px;
        --type-service-container-width: 344px;

        --slider-content-width: 543px;
        --reviews-container-width: 646px;
        --slider-content-height: 273px;
        --changes-container-width: 100%;

        --changes-description-container: 540px;
        --changes-list-1-width: 270px;
        --changes-list-2-width: 266px;
        --footer-container-width: 648px;
        --social-cells-width: 128px;
    }
}

@media (max-width: 700px) {
    :root {
        --prices-container-width: 400px;
    }
}

@media (max-width: 646px) {
    :root {
        --slider-content-width: 400px;
        --reviews-container-width: 550px;
        --slider-content-height: 210px;
        --footer-container-width: 100%;
    }
}

@media (max-width: 550px) {
    :root {
        --slider-content-width: 320px;
        --reviews-container-width: 425px;
        --slider-content-height: 210px;
        --changes-description-container: 100%;
    }
}



@media (max-width: 630px) {
    :root {
        --couch-section-width: 500px;
        --header-container-widht: 500px;
    }
}

@media (max-width: 550px) {
    :root {
        --couch-section-width: calc(100vw - 10%);
        --header-container-widht: calc(100vw - 10%);
        --services-container-width: 100%;
        --changes-list-1-width: 212px;
        --changes-list-2-width: 212px;

    }
}

@media (max-width: 470px) {
    :root {
        --changes-description-container: 330px;
        --changes-list-1-width: 160px;
        --changes-list-2-width: 175px;
    }
}

@media (max-width: 425px) {
    :root {
        --font-size-main-title: 2.1875rem;
        --font-size-extra-medium: 1.4375rem;
        --font-size-medium: 1.0625rem;
        --font-size-title-block: 1.875rem;
        --button-font-size: 1.125rem;
        --couch-section-width: 376px;
        --header-container-widht: 376px;
        --couch-info-width: 100%;
        --font-size-title-block: 1.875rem;
        --requests-list-width: 341px;
        --services-list-container-width: 362px;
        --services-list-content-width: 338px;
        --prices-container-width: 100%;
        --type-service-content-width: 313.76px;
        --type-service-container-width: 296.52px;
        --slider-content-width: 279px;
        --reviews-container-width: 353px;
        --slider-content-height: 212px;
        --changes-description-container: 340px;
        --changes-list-1-width: 156px;
        --changes-list-2-width: 170px;
        --social-cells-width: 130px;
    }
}


@media (max-width: 370px) {
    :root {
        --services-list-container-width: 302px;
        --services-list-content-width: 283px;
    }
}



@media (max-width: 376px) {
    :root {
        --font-size-main-title: 1.8125rem;
        --font-size-title-block: 1.8125rem;
        --header-container-widht: 100%;
        --couch-info-width: 100%;
        --couch-section-width: 100%;
    }
}

@media (max-width: 362px) {
    :root {
        --type-service-content-width: 301.82px;
        --type-service-container-width: 285.24px;
        --slider-content-width: 247.49px;
        --reviews-container-width: calc(100% - 18px);
        --slider-content-height: 188.06px;
        --social-cells-width: 113px;
    }
}



@media (max-width: 350px) {
    :root {
        --requests-list-width: 306px;
        --request-item-width: 142.82px;
    }
}

@media (max-width: 340px) {
    :root {
        --changes-description-container: 280px;
        --changes-list-1-width: 116px;
        --changes-list-2-width: 130px;
    }
}