.header__container {
    width: var(--header-container-widht);
    height: 95px;
    position: relative;
}



@media (max-width:768px) {
    .header__container {
        height: 40px;
    }
}

/* 
@media (max-width:1031px) {
    .header__container {
        position: fixed;
        width: 100%;
        left: -100%;
    }

} */