.nav-bar__link {
    font-family: var(--font-family-standart-variant-2);
    font-style: normal;
    font-weight: var(--font-weight-light);
    font-size: var(--font-size-standard);
    line-height: 19px;
    display: flex;
    align-items: center;
    color: var(--font-color-variant-1);
    text-decoration: none;
    z-index: 3;
    position: relative;
    color: #221F1F;
}

/* наведение  */
.nav-bar__link:hover {
    color: var(--nav-bar-link-hover);
}

@media (max-width: 1024px) {
    .header__content.header__menu-active>.nav-bar>.nav-bar__link:hover {
        background-color: var(--nav-bar-link-background-hover);
        width: 100%;
    }

    .header__content.header__menu-active>.nav-bar {
        width: 100%;
        text-align: center;
    }
}