.type-service__button {
    color: var(--font-color-variant-2);
    background: #4B7B62;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-bottom: 25px;
    width: 305px;
    height: 52.22px;
}

@media (max-width: 1024px) {
    .type-service__button {
        width: 236px;
        height: 40.41px;
    }
}

@media (max-width: 768px) {
    .type-service__button {
        width: 305px;
        height: 52.22px;
    }
}

@media (max-width: 425px) {
    .type-service__button {
        width: 262.91px;
        height: 45.02px;
    }
}