.footer__contact-information {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 92px;
}

@media (max-width: 768px) {
    .footer__contact-information {
        margin-bottom: 68px;
    }
}

@media (max-width: 648px) {
    .footer__contact-information {
        margin-bottom: 51px;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 360px) {
    .footer__contact-information {
        margin-bottom: 44px;
    }
}