.type-service {
    width: var(--type-service-content-width);
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
 }

 .type-service:last-of-type{
    margin-bottom: 0;
 }

 @media (max-width: 768px) {
    .type-service{
        margin-bottom: 36px;
    }
 }

 @media (max-width: 425px) {
    .type-service{
        margin-bottom: 5px;
    }
 }

 @media (max-width: 362px) {
    .type-service{
        margin-bottom: 0;
    }
 }